body{
    background-image: url(imagens/fundo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

h1{
    color: rgb(185, 181, 183);
    text-align: center;
    font-size: 25px;
}
h2{
    text-align: center;
    color: rgb(144, 166, 185);
    font-size: 24px;
}
h5{
    text-align: center;
    color: rgb(58, 62, 65);
}

p{
    color: aliceblue;
    font-size: 10px;
}
.login{
    text-align: center;
    border: none;
}
input{
    font-size: 12px;

}
::placeholder{
    font-size: 10px;

}
button{
    background-color: dodgerblue;
    border: none;
    width: 13%;
    color: aliceblue;
    cursor: pointer;
}
